header.intro {
    text-align: center;
    padding: var(--space-xl);
    border-top: dashed 1px silver;
    font-family: var(--font-slab);
    color: #889397;
}

h1.titre-intro {
    font-family: var(--font-slab);
    font-size: 2rem;
}

.titre-home {
    font-size: 2rem;
    letter-spacing: -.1rem;
}

svg.esperluette {
    width: 60px;
    position: relative;
    top: 10px;
    color: #9acd32;
    margin: 0 1rem;
}