// La navigation
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 4rem;
    font-family: var(--font-nav);
}
.main-nav-menu {
  display: flex;
  gap: 2rem;
}
.logo-tatziki {
  width: 100px;
}

nav.breadcrumb {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 2rem;
  }

  nav.breadcrumb a {
    color: var(--project-color);
    text-decoration: none;
  }

  nav.breadcrumb a:hover {
    text-decoration: underline;
  }