@use 'shared' as *;

/* ═══════════════════════════════════════════════════════════
     SECTION
 ═══════════════════════════════════════════════════════════ */
.portfolio-section {
  background: var(--color-bg);
  min-height: 100vh;
  padding: space(16);
  font-family: var(--font-body);
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: space(12);
  padding: 0 space(12);

}

.portfolio-title {
  font-size: clamp(2.5rem, 6vw, 5rem);
  color: var(--color-text);
  margin: 0;
  line-height: .8;
}

.portfolio-baseline {
  font-size: font-size(lg);
  color: $tatziki;

  &::selection {
    color: #fff;
    background: $indigo-500;
  }
}

// BLOC COMPETENCES
.home-competences {
 margin-bottom: space(12);
 width: 50%;
 max-width: 560px;
  @include mq-max(md) {
    width: 100%;
  }
}

.competences-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: space(2);
}

.comp-filter-btn.is-active {
  background: $framboise;
  color: #fff;
  transition: background var(--transition-fast), color var(--transition-fast);

  &:hover {
    background: $framboise-500;
  }
}
.comp-filter-btn.comp-reset.is-active {
  background: $noir-800;
  color: $noir-100;
  transition: background var(--transition-fast), color var(--transition-fast);

}

.mosaique-home__item.is-filtered-out {
  display: none;
}

.mosaique-home {
  column-count: var(--col-count);
  column-gap: var(--grid-gap);
}


.mosaique-home__item {
  break-inside: avoid;
  margin-bottom: space(12);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  &.is-visible {
    opacity: 1;
    transform: none;
  }
}

/* Lien englobant */
.item-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform var(--transition-slow);
}

.item-link:hover {
  transform: translateY(-2px);
}
.item-link--inactive {
  cursor: default;

  .item-overlay {
    opacity: 1;
    background: color-mix(in srgb, var(--item-color) 60%, transparent);
  }
}

.item-soon {
  align-self: center;
  font-size: font-size(sm);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  // border: 1px solid var(--item-color);;
  padding: space(12);
  border-radius: 2px;
  opacity: 0.8;
}

.item-inner {
  position: relative;
  aspect-ratio: var(--item-ratio, 4/3);
  overflow: hidden;
  background: var(--item-color, var(--color-surface));
  cursor: pointer;
  border-radius: var(--radius);
}

.item-link:hover .item-inner {
  z-index: 5;
}

/* Placeholder coloré */
.item-placeholder {
  position: absolute;
  inset: 0;
  background: var(--item-color);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.mosaique-home__item:not(.loaded) .item-placeholder::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(110deg,
      transparent 25%,
      rgba(255, 255, 255, 0.05) 50%,
      transparent 75%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.mosaique-home__item.loaded .item-placeholder {
  opacity: 0;
  pointer-events: none;
}

.item-image { // au départ
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.mosaique-home__item.loaded .item-image {
  opacity: 1;
}

.item-link:hover .item-image {
  transform: scale(1.05);
}

.item-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: space(2);
  background: color-mix(in srgb, var(--item-color) 80%, transparent);
  opacity: 0;
  transition: opacity var(--transition-fast);
  pointer-events: none;
  /* cf le clic passe au lien parent */
}

.item-link:hover .item-overlay {
  opacity: 1;
}

.item-meta {
  transform: translateY(10px);
  transition: transform var(--transition-fast);
  position: relative;
  z-index: 2;
}

.item-link:hover .item-meta {
  transform: translateY(0);
}

.meta-client-btn {
  font-family: $font-titre;
  display: inline-block;
  background-color: var(--item-color);
  padding: space(1) space(3);
  border-radius: space(1);
  font-size: font-size(xxs);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fff;

}

/* Titre en dessous */
.item-title {
  // font-size: clamp(0.9rem, 1.5vw, 1.25rem);
  // color: var(--color-text); /* Adapté pour être visible en dehors de l'overlay */
  margin: space(3) 0 0 0;
  transition: color var(--transition-fast);
}

.item-link:hover .item-title {
  // color: var(--item-color); /* Change de couleur au hover */
  color: $noir-800;
  /* Change de couleur au hover */
}

.item-infos::after {
    content: "";
    display: block;
    padding-top: space(8);
    width: 3rem;
    border-bottom: solid 3px var(--color-tatziki);
}
.item-tags {
  display: flex;
  gap: space(2);
  margin-top: space(2);
  flex-wrap: wrap;
}

.item-tag {
  font-family: var(--font-slab);
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 1px;
  color: var(--color-grey-medium);
  // padding: space(1) space(3);
  // background: var(--item-color);
  // border-radius: space(1);
  // color: var(--color-text-muted);
}


/* Bouton + */
.btn-plus {
  pointer-events: auto;
  /* Active les clics sur le bouton si nécessaire */
}

/* ═══════════════════════════════════════════════════════════
     RESPONSIVE
     ═══════════════════════════════════════════════════════════ */
@include mq-max(md) {
  .portfolio-section {
    padding: space(4);
  }
  .portfolio-header {
    align-items: center;
  }
  .mosaique-home {
    column-count: min(var(--col-count), 2);
  }
}

@include mq-max(xs) {
  .mosaique-home {
    column-count: 1;
  }

  .grid-control {
    display: none;
  }
}

