@import url("https://use.typekit.net/yzs3igk.css");

// _variables.scss
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1280px;

// Map pour les mixins
$breakpoints: (
  'mobile': $mobile,
  'tablet': $tablet,
  'desktop': $desktop,
  'wide': $wide,
);

:root {
  --bk-mobile: #{$mobile};
  --bk-tablet: #{$tablet};
  --bk-desktop: #{$desktop};
  --bk-wide: #{$wide};

  // Couleurs
  --color-main: #0cb4ce;
  --color-tatziki: #6ebfb1;
  --color-secondary: #e74c3c;
  --color-dark: #2b2b2b;
  --color-grey-dark: #333;
  --color-txt: var(--color-grey-medium);
  --color-grey-medium: #889397;
  --color-bg: #fcfcfc;
  --pale: #fcfcfc;
  --color-footer: #253439;
  --color-overlay: #0b061e1f;

  // Espacements
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 4rem;
  --space-xxl: 10rem;

  // Typographie
  --font-titre: 'poppins', sans-serif;
  --font-narrow: 'pt-sans-narrow', sans-serif;
  --font-body: system-ui, -apple-system, sans-serif;
  --font-display: 'Georgia', serif;
  --font-slab: 'zilla-slab', sans-serif;
  --font-taxo: var(--font-slab);
  --font-nav: var(--font-slab);


  // Font-size
  --font-size-sm: .8rem;
  --font-size-md: 1rem;

  // Radius
  --border-radius: 4px;
  --border-radius-md: 8px;

  // Box Shadow
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  --box-shadow-hover: box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

  // Animations
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;


}

// Mixins utilisant les deux
@mixin container {
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 var(--space-lg);

  @media (max-width: $breakpoint-mobile) {
    padding: 0 var(--space-md);
  }
}