// 1. Variables et configuration
@use 'variables';
@use 'mixins';

// 2. Base (ordre useant)
@use 'base/reset';
@use 'typo/typo-general';
@use 'typo/titres';
@use 'typo/textes';
// @use 'base/layout';

@use 'grille/container';
@use 'grille/grid';
@use 'grille/mansory';

// 3. Composants
@use 'components/beforeafter';
@use 'components/cards';
@use 'components/video';
@use 'components/filler';


// 4. Sections
@use 'sections/nav';
@use 'sections/carousel';
@use 'sections/intro';
@use 'sections/content';
@use 'sections/footer';
@use 'sections/hero';
@use 'sections/objectifs';
// @use 'sections/projects';

// 5. Graphics
@use 'graphics/img';
@use 'graphics/hover';
@use 'graphics/taxonomie';
@use 'graphics/links';
@use 'graphics/buttons';
@use 'graphics/graphics';
@use 'graphics/animations';
// @use 'graphics/animate';
// @use 'components/buttons';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: var(--color-txt);
  background-color: var(--pale);
}
