// # Point d'entrée principal

// 1. Variables et configuration
@use 'variables';
@use 'mixins';

// 2. Base (ordre useant)
@use 'base/reset';
@use 'typo/typo-general';
@use 'typo/titres';
@use 'typo/textes';
// @use 'base/layout';

@use 'grille/container';
@use 'grille/grid';
@use 'anim';
@use 'grille/mansory';
@use 'components/filler';

// 3. Composants
@use 'components/beforeafter';
@use 'components/cards';
@use 'components/video';


// 4. Sections
@use 'sections/nav';
@use 'sections/content';
@use 'sections/footer';
@use 'sections/hero-banner';
// @use 'sections/projects';

// 5. Graphics
@use 'graphics/img';
@use 'graphics/hover';
@use 'graphics/taxonomie';
@use 'graphics/links';
// @use 'graphics/animate';
// @use 'components/buttons';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: var(--pale);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.hero {
  text-align: center;
  margin-bottom: 4rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}