<!-- Ma HOME -->
---
import Layout from '../components/Layout.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import AdaptiveMasonryGrid from '../components/AdaptiveMasonryGrid.astro';
import MasonryGrid from '../components/MasonryGrid.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects', ({ data }) => {
  return data.draft !== true;
});

projects.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Portfolio">
  <div class="container">
    <header class="hero">
      <h1>Portfolio</h1>
      <p>Design graphique & Développement web</p>
    </header>
   
  </div>
  <div class="container">
    <!-- <AdaptiveMasonryGrid projects={projects} /> -->

    <MasonryGrid projects={projects} />

    <!-- <ProjectsGrid projects={projects} /> -->
  </div>
</Layout>
